<h1>{{ _('Dear') }} {{ user.username }},</h2>
    <p>
        {{ _('To confirm your account click link below') }}
        <a href="{{ url_for('.confirm', token=token, _external=True) }}">
            click here
        </a>
    </p>
    <p>{{ _('Alternatively, you can paste the following link in your browser address bar:') }}</p>
    <p>{{ url_for('.confirm', token=token, _external=True) }}</p>
    <p>{{ _('Sincerely,') }}</p>
    </hr>
    <p>{{ _('Application Team') }}</p>
