{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
{% endmacro %}

{%- macro render_field_with_label_and_errors(field) %}
<div class="form-group">
    {%- if field.errors %}
    {{ field.label(class="small mb-1") }}
    {%- set update_aria = kwargs.update({'aria_describedby': field.id~'-error'}) %}
    {%- set update_class = kwargs.update({'class': 'form-control is-invalid'}) %}
    {{ field(class=update_class, aria_describedby=update_aria, **kwargs) }}
    <span id="{{ field.id }}-error" class="invalid-feedback">
        {%- for error in field.errors %}
        {{ error|e }}
        {%- endfor %}
    </span>
    {% else %}
    {{ field.label(class="small mb-1") }}
    {{ field(**kwargs)|safe }}
    {%- endif %}
</div>
{%- endmacro %}

{% macro render_field_with_label_for_checkbox(field) %}
<div class="form-group">
    <div class="custom-control custom-checkbox">
        {{ field(**kwargs)|safe }}
        {{ field.label(class="custom-control-label") }}
    </div>
</div>
{% endmacro %}