<!DOCTYPE html>
<html lang="en">

{%- block head %}

<head>
    {%- block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="none, noarchive, nocache">
    <meta name="title" content="{{ app_meta_title }}" />
    <meta name="description" content="{{ app_meta_description }}" />
    <meta name="keywords" content="{{ app_meta_keyword }}">
    {%- endblock meta %}
    <title>{%- block title %} {{ app_name | title }} {%- endblock title %}</title>
    {%- block styles %}
    <link rel="icon" type="image/png" href="{{ app_favicon }}">
    <link href="{{ url_for('static', filename='css/sa-bs4/styles.css') }}" rel="stylesheet" />
    {%- endblock styles %}
</head>
{%- endblock head %}

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                {%- block content %}
                                {%- endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {%- block scripts %}
    <script src="{{ url_for('static', filename='js/sa-bs4/fa-all.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sa-bs4/jquery-3.5.1.slim.min.js') }}"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sa-bs4/bootstrap.bundle.min.js') }}"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sa-bs4/scripts.js') }}"></script>
    {%- endblock scripts %}
</body>

</html>