{%- extends "security/base.html" %}
{%- from "security/_macro.html" import render_field, render_field_with_label_and_errors,
render_field_with_label_for_checkbox %}
{%- set page_title = _('login user') | title %}
{%- block title %} {{ page_title ~' - '~ super() }} {%- endblock title %}}
{%- block content %}
<div class="card-header">

</div>
<div class="card-body">

</div>
<div class="card-footer text-center">

</div>
{%- endblock content %}
{%- block scripts %}
{{ super() }}
{%- endblock scripts %}