{%- extends "security/base.html" %}
{%- from "security/_macro.html" import render_field, render_field_with_label_and_errors %}
{%- set page_title = _('forgot password') | title %}
{%- block title %} {{ page_title ~' - '~ super() }} {%- endblock title %}
{%- block styles %}
{{ super() }}
{%- endblock styles %}
{%- block content %}
<div class="card-header">
    <h3 class="text-center font-weight-light my-4">{{ page_title }}</h3>
</div>
<div class="card-body">
    {% include "security/_messages.html" %}
    <div class="small mb-3 text-muted">
        {{ _("Enter your email address and we will send you a link to reset your password.") }}
    </div>
    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        {{ render_field_with_label_and_errors(forgot_password_form.email, class_="form-control py-4",
        placeholder="email@address.tld", required="required") }}
        <div class="form-group d-flex align-items-right mt-4 mb-0">
            {{ render_field(forgot_password_form.submit, class_="btn btn-primary btn-block") }}
        </div>
    </form>
</div>
<div class="card-footer text-center">
    {%- include "security/_menu.html" %}
</div>
{%- endblock content %}
{%- block scripts %}
{{ super() }}
{%- endblock scripts %}