{%- extends "security/base.html" %}
{%- from "security/_macro.html" import render_field, render_field_with_label_and_errors,
render_field_with_label_for_checkbox %}
{%- set page_title = _('login user') | title %}
{%- block title %} {{ page_title ~' - '~ super() }} {%- endblock title %}
{%- block content %}
<div class="card-header">
    <h3 class="text-center font-weight-light my-4">{{ page_title }}</h3>
</div>
<div class="card-body">
    {% include "security/_messages.html" %}
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_label_and_errors(login_user_form.email, class_="form-control py-4", type="email",
        placeholder="email@address.tld", required="required") }}
        {{ render_field_with_label_and_errors(login_user_form.password, class_="form-control py-4", type="password",
        placeholder="Password", required="required") }}
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            {{ render_field_with_label_for_checkbox(login_user_form.remember, class_="custom-control-input",
            type="checkbox") }}
            {{ render_field(login_user_form.submit, class_="btn btn-primary") }}
        </div>
    </form>
</div>
<div class="card-footer text-center">
    {%- include "security/_menu.html" %}
</div>
{%- endblock content %}
{%- block scripts %}
{{ super() }}
{%- endblock scripts %}