{%- extends "security/base.html" %}
{%- from "security/_macro.html" import render_field, render_field_with_label_and_errors %}
{%- set page_title = _('register user') | title %}
{%- block title %} {{ page_title ~' - '~ super() }} {%- endblock title %}
{%- block styles %}
{{ super() }}
{%- endblock styles %}
{%- block content %}
<div class="card-header">
    <h3 class="text-center font-weight-light my-4">{{ page_title }}</h3>
</div>
<div class="card-body">
    {% include "security/_messages.html" %}
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.first_name, class_="form-control py-4",
                placeholder=_("Enter first name"), required="required") }}
            </div>
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.last_name, class_="form-control py-4",
                placeholder=_("Enter last name"), required="required") }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.email, class_="form-control py-4",
                type="email",
                placeholder=_("Enter email address"), required="required") }}
            </div>
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.username, class_="form-control py-4",
                placeholder=_("Enter username"), required="required") }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.password, class_="form-control py-4",
                placeholder=_("Enter password"), required="required") }}
            </div>
            {%- if register_user_form.password_confirm %}
            <!-- only show when SECURITY_CONFIRMABLE is False -->
            <div class="col-md-6">
                {{ render_field_with_label_and_errors(register_user_form.password_confirm, class_="form-control py-4",
                placeholder=_("Retype password"), required="required") }}
            </div>
            {%- endif %}
        </div>
        <div class="form-group mt-4 mb-0">
            {{ render_field(register_user_form.submit, class_="btn btn-primary btn-block") }}
        </div>
    </form>
</div>
<div class="card-footer text-center">
    {%- include "security/_menu.html" %}
</div>
{%- endblock content %}
{%- block scripts %}
{{ super() }}
{%- endblock scripts %}