{%- extends "security/base.html" %}
{%- from "security/_macro.html" import render_field, render_field_with_label_and_errors %}
{%- set page_title = _('reset password') | title %}
{%- block title %} {{ page_title ~' - '~ super() }} {%- endblock title %}}
{%- block content %}
<div class="card-header">
    <h3 class="text-center font-weight-light my-4">{{ page_title }}</h3>
</div>
<div class="card-body">
    {% include "security/_messages.html" %}
    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST"
        name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        {{ render_field_with_label_and_errors(reset_password_form.password, class_="form-control py-4",
        placeholder=_("type new password"), required="required") }}
        {{ render_field_with_label_and_errors(reset_password_form.password_confirm, class_="form-control py-4",
        placeholder=_("confirm new password"), required="required") }}
        <div class="form-group d-flex align-items-right mt-4 mb-0">
            {{ render_field(reset_password_form.submit, class_="btn btn-primary btn-block") }}
        </div>
    </form>
</div>
<div class="card-footer text-center">
</div>
{%- endblock content %}
{%- block scripts %}
{{ super() }}
{%- endblock scripts %}