<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title ~' - '~ app_name }} </title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="none, noarchive, nocache">
  <meta name="title" content="{{ app_meta_title }}" />
  <meta name="description" content="{{ app_meta_description }}" />
  <meta name="keywords" content="{{ app_meta_keyword }}">
  <link rel="icon" type="image/png" href="{{ app_favicon }}">
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pos/style.css') }}" />
</head>

<body onload="updateClock(); setInterval('updateClock()', 1000 )" class="bg-light">
  <noscript>
    <strong>
      {{ _('We are sorry but client does not work properly without JavaScript enabled. Please enable it to continue.')
      }}
    </strong>
  </noscript>
  <div id="app">
    <b-container fluid>
      <b-navbar type="light" variant="light">
        <b-navbar-brand href="/">
          {% if bp.business_profile_logo_name %}
          <img
            src="{{ url_for('images', filename=bp.business_profile_logo_name, widht=50, height=50, mode='fit', quality=50) }}"
            alt="{{ bp.business_profile_name}}" width="50">
          {% else %}
          <img src="{{ url_for('static', filename='img/100x100.svg') }}" alt="brand" height="50px" />
          {% endif %}
        </b-navbar-brand>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-col>
              <b-row>
                <b-col>
                  {% if bp.business_profile_name %}
                  <h5 class="mb-0">{{ bp.business_profile_name }}</h5>
                  {% else %}
                  <h5 class="mb-0">{{ _('Default Business Name') }}</h5>
                  {% endif %}
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  {% if bp.business_profile_address %}
                  <small>{{bp.business_profile_address }}, {{ bp.business_profile_sub_district }}, {{
                    bp.business_profile_district }}, {{ bp.business_profile_province }}, {{
                    bp.business_profile_country }}</small>
                  {% else %}
                  <small>{{ _('Default Address') }}</small>
                  {%endif %}
                </b-col>
              </b-row>
            </b-col>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item
              href="{% if current_user.roles == ['Cashier'] %}{{ url_for('mod_dashboard.index') }}{% else %}{{ url_for('mod_pos.transaction') }}{% endif %}">
              <b-icon icon="chevron-left"></b-icon> {{ _('Transaction') }}
            </b-nav-item>
            <b-nav-item href="{{ url_for('mod_user.personal_profile') }}">
              <b-icon icon="person-fill"></b-icon> {{ current_user.username }}
            </b-nav-item>
            <b-nav-item>
              <span id="clock">&nbsp;</span>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <b-row>
        <b-col md="12" lg="8">
          <div>
            <b-col class="my-2">
              <b-form-group label="{{ _('Filter') }}" label-for="filter-input" label-cols-md="1" label-align-md="left"
                label-size="md" class="mb-0">
                <b-input-group size="md">
                  <b-form-input list="filter-input" v-model="searchData" type="search"
                    placeholder="{{ _('Type to Search') }}"></b-form-input>

                  <b-input-group-append>
                    <b-button :disabled="!searchData" class="btn-info" @click="searchData = ''">{{ _('Clear') }}
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-card no-body>
              <b-tabs card>
                <b-tab title="{{ _('All Product') | upper }}">
                  <main class="list-barang">
                    <b-row>
                      <b-col lg="4" md="6" v-for="item of filterData" class="mb-4" :key="item.product_id">
                        <b-card :img-src="item.product_photo_filename" img-alt="item.product_name" img-top tag="article"
                          :title="item.product_name.toLowerCase()"
                          :sub-title="formatCurrency(item.product_selling_price)" @click="addCart(item)"
                          :disabled="!item.product_status">
                          <b-card-text v-if="item.product_stock <= 3" class="text-danger">
                            <small>{{ _('Remaining Stock : [{ item.product_stock }]') }}</small>
                          </b-card-text>
                        </b-card>
                      </b-col>
                    </b-row>
                  </main>
                </b-tab>
                <b-tab v-for="category in navs.category" :key="category.id" :title="category.name.toUpperCase()">
                  <main class="list-barang">
                    <b-row>
                      <b-col lg="4" md="6" v-for="item of filterData" v-if="item.category_id === category.id"
                        class="mb-4" :key="item.product_id">
                        <b-card :img-src="item.product_photo_filename" img-alt="item.product_name" img-top tag="article"
                          :title="item.product_name.toUpperCase()"
                          :sub-title="formatCurrency(item.product_selling_price)" @click="addCart(item)"
                          :disabled="!item.product_status">
                          <b-card-text v-if="item.product_stock <= 3" class="text-danger"><small>{{ _('Remaining Stock :
                              [{ item.product_stock }]') }}</small></b-card-text>
                        </b-card>
                      </b-col>
                    </b-row>
                  </main>
                </b-tab>
              </b-tabs>
            </b-card>
          </div>

        </b-col>
        <b-col md="12" lg="4">
          <b-list-group flush>
            <!-- alert -->
            <alert :message="message" v-if="showMessage"></alert>
            <b-list-group-item>
              <!-- list cart -->
              <aside class="list-cart">
                <b-alert v-if="carts.length == 0" variant="info" show class="mb-0">
                  {{ _('Please select product first') }}
                </b-alert>
                <!--  -->
                <div v-else :key="u_cart">
                  <list-cart v-for="item in carts" :key="item.product_id" :data="item" @update-cart="updateCart">
                  </list-cart>
                </div>
              </aside>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
              <div>{{ _('Items Total') }}</div>
              <b-badge variant="primary" pill>[{ total.item }]</b-badge>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
              <div>{{ _('Prices Total') }}</div>
              <div class="text-danger">
                [{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumSignificantDigits: 6
                }).format(total.price) }]
              </div>
            </b-list-group-item>
            <b-form @submit="postSales">
              <b-list-group-item class="d-flex justify-content-between align-items-center">
                <b-form-group>
                  <label for="inline-form-money-paid">{{ _('Money Paid') }}</label>
                  <b-form-input id="inline-form-money-paid" v-model="total.paid" type="number" required
                    :disabled="!disableButton" :min="total.price" :state="validation"></b-form-input>
                  <b-form-invalid-feedback :state="validation">
                    {{_('Must be same or grater than total price')}}
                  </b-form-invalid-feedback>
                  <b-form-valid-feedback :state="validation"></b-form-valid-feedback>
                </b-form-group>
              </b-list-group-item>
              <b-list-group-item class="d-flex justify-content-between align-items-center">
                <div>{{ _('Change') }}</div>
                <div class="text-warning">
                  [{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumSignificantDigits: 6
                  }).format(money_return) }]
                </div>
              </b-list-group-item>
              <b-list-group-item>
                <b-button type="submit" block size="lg" class="btn-info" :disabled="!disableButton">
                  {{ _('Pay Now') }}
                </b-button>
              </b-list-group-item>
            </b-form>
          </b-list-group>
          <div style="display: none;" id="printMe">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12 text-center">
                    {% if bp.business_profile_name %}
                    <h5 class="mb-0">{{ bp.business_profile_name }}</h5>
                    <small>{{ bp.business_profile_address ~", "~ bp.business_profile_sub_district ~", "~
                      bp.business_profile_district }} <br />
                      {{ bp.business_profile_province ~", "~ bp.business_profile_phone_number }}
                    </small>
                    {% else %}
                    <h5 class="mb-0">{{ _('Default Business Name') }}</h5>
                    {% endif %}
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    --------------------------------------------------------------------------------------------
                  </div>
                  <div class="col-6">
                    <small> {{ _('Cashier : ') ~" "~ current_user.username }}</small>
                  </div>
                  <div class="col-6">
                    <small style="text-align: right;"> {{ moment().format("lll") }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <table>
                      <thead>
                        <tr>
                          <td colspan="5">
                            --------------------------------------------------------------------------------------------
                          </td>
                        </tr>
                        <tr>
                          <td scope="col" width="5%"><strong><small>{{ _('#') }}</small></strong></td>
                          <td scope="col" width="50%"><strong><small>{{ _('Name') }}</small></strong></td>
                          <td scope="col" width="17,5%"><strong><small>{{ _('Price') }}</small></strong></td>
                          <td scope="col" width="10%"><strong><small>{{ _('Qty') }}</small></strong></td>
                          <td scope="col" width="17,5%"><strong><small>{{ _('Sub Total') }}</small></strong></td>
                        </tr>
                      </thead>
                      <tbody :key="u_cart" v-for="(item, index) in carts" :key="item.product_id" :data="item">
                        <tr>
                          <td><small>[{ index+1 }]</small></td>
                          <td><small>[{ item.product_name }]</small></td>
                          <td><small>[{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR',
                              maximumSignificantDigits: 6 }).format(item.product_selling_price) }]</small></td>
                          <td style="text-align: center;"><small>[{ item.qty }]</small></td>
                          <td><small>[{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR',
                              maximumSignificantDigits: 6 }).format(item.product_selling_price * item.qty) }]</small>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            --------------------------------------------------------------------------------------------
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2"></td>
                          <td><small><strong>{{ _('Grand Total') }}</strong></small></td>
                          <td style="text-align: center;"><small><strong>[{ total.item }]</strong></small></td>
                          <td><small><strong>[{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR',
                                maximumSignificantDigits: 6 }).format(total.price) }]</strong></small></td>
                        </tr>
                        <tr>
                          <td colspan="3"></td>
                          <td><small><strong>{{ _('Paid') }}</strong></small></td>
                          <td><small><strong>[{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR',
                                maximumSignificantDigits: 6 }).format(total.paid) }]</strong></small></td>
                        </tr>
                        <tr>
                          <td colspan="3"></td>
                          <td><small><strong>{{ _('Return') }}</strong></small></td>
                          <td><small><strong>[{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR',
                                maximumSignificantDigits: 6 }).format(total.money_return) }]</strong></small></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <!-- Load polyfills to support older browsers -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://polyfill.io/v3/polyfill.js?features=es2015%2CIntersectionObserver"
    crossorigin="anonymous"></script>
  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
  <!-- Load Axios -->
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
  <script src="{{ url_for('static', filename='js/pos/main.js') }}"></script>
  <!-- Load vue to paper -->
  <script src="https://unpkg.com/vue-html-to-paper/build/vue-html-to-paper.js"></script>
  <script>Vue.use(VueHtmlToPaper, options);</script>
  {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
  {{ moment.lang(g.locale) }}
</body>

</html>