{% extends 'back_office_components/base.html' %}
{%- set active_page = 'transaction-report' %}
{% block app_content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <table id="table_id" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _('Date of Transaction') }}</th>
                            <th>{{ _('Total Quatity') }}</th>
                            <th>{{ _('Total Income') }}</th>
                            <th>{{ _('Total Profit') }}</th>
                            <th>{{ _('Detail') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction_report in transaction_reports %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ transaction_report.date }}</td>
                            <td>{{ transaction_report.qty }}</td>
                            <td>{{ format_price(transaction_report.income) }}</td>
                            <td>{{ format_price(transaction_report.profit) }}</td>
                            <td>
                                <a class="btn btn-xs btn-info"
                                    href="{{ url_for('.transaction_report_by_day', year=transaction_report.year, month=transaction_report.month, day=transaction_report.day) }}">{{
                                    _('Detail') }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script type="text/javascript">
    /* DataTables */
    $(document).ready(function () {
        var table = $("#table_id").DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: "copy", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "excel", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "pdf", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "print", exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"]
        });
    });
</script>
{% endblock %}