{% extends 'back_office_components/base.html' %}
{%- set active_page = 'transaction' %}
{% block app_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-right">
            <h5>{{ _('Detail Items of Trx #') }}{{ sales.sales_id }}</h5>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <table id="table_id" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _('Items ID') }}</th>
                            <th>{{ _('Name of Product') }}</th>
                            <th>{{ _('Product Price') }}</th>
                            <th>{{ _('Quantity') }}</th>
                            <th>{{ _('Sub Total') }}</th>
                            <th>{{ _('Profit') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.items_id }}</td>
                            <td>{{ item.product.product_name }}</td>
                            <td>{{ format_price(item.product_selling_price) }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ format_price(item.sub_total) }}</td>
                            <td>{{ format_price(item.sub_profit) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right"><strong>Grand Total</strong></td>
                            <td><strong>{{ sales.total_qty}}</strong></td>
                            <td><strong>{{ format_price(sales.total_price) }}</strong></td>
                            <td><strong>{{ format_price(sales.total_profit) }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script type="text/javascript">
    /* DataTables */
    $(document).ready(function () {
        var table = $("#table_id").DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: "copy", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "excel", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "pdf", exportOptions: {
                    columns: ':visible'
                }
            }, {
                extend: "print", exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"]
        });
    });
</script>
{% endblock %}