{% extends "error/base.html" %}

{% block content %}
<h1 class="display-1">401</h1>
<p class="lead">{{ _('Unauthorized.') }}</p>
<p>{{ _('Access to this resource is denied.') }}</p>
{% endblock content %}