<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('admin.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('admin.user', username=post.author.username) }}">
                {{ _(post.author.username) }}
            </a>
            {{ _('says:') }}
            <br>
            {{ _(post.body) }}
        </td>
    </tr>
</table>