{% if current_user.has_role("Cashier") and current_user.has_role("Admin") or current_user.has_role("Admin") %}

{%- set navigation = [
('/', 'dashboard', _('Dashboard'), 'fa fa-fw fa-dashboard'),
('/business-profile', 'business-profile', _('Business Profile'), 'fa fa-fw fa-dashboard'),
('/user', 'user', _('User'), 'fa fa-fw fa-user'),
('/category', 'category', _('Category'), 'fa fa-fw fa-tag'),
('/product', 'product', _('Product'), 'fa fa-fw fa-archive'),
('/pos/transaction', 'transaction', _('Last Transaction'), 'fa fa-fw fa-keyboard-o'),
('/pos/report/profit', 'profit-report', _('Profit Report'), 'fa fa-fw fa-money'),
('/pos/report/transaction', 'transaction-report', _('Transaction Report'), 'fa fa-fw fa-keyboard-o'),
('/report-visualization/', 'report-visualization', _('Report Visualization'), 'fa fa-fw fa-area-chart')]%}

{% elif current_user.has_role("Developer") and current_user.has_role("Admin") and current_user.has_role("Cashier") or
current_user.has_role("Developer") and current_user.has_role("Cashier") or current_user.has_role("Developer") %}

{%- set navigation = [
('/', 'dashboard', _('Dashboard'), 'fa fa-fw fa-dashboard'),
('/application-profile', 'application-profile', _('Application Profile'), 'fa fa-fw fa-dashboard'),
('/business-profile', 'business-profile', _('Business Profile'), 'fa fa-fw fa-dashboard'),
('/role', 'role', _('Role'), 'fa fa-fw fa-bookmark'),
('/user', 'user', _('User'), 'fa fa-fw fa-user'),
('/category', 'category', _('Category'), 'fa fa-fw fa-tag'),
('/product', 'product', _('Product'), 'fa fa-fw fa-archive'),
('/pos/transaction', 'transaction', _('Last Transaction'), 'fa fa-fw fa-keyboard-o'),
('/pos/report/profit', 'profit-report', _('Profit Report'), 'fa fa-fw fa-money'),
('/pos/report/transaction', 'transaction-report', _('Transaction Report'), 'fa fa-fw fa-keyboard-o'),
('/report-visualization/', 'report-visualization', _('Report Visualization'), 'fa fa-fw fa-area-chart'),
('/api/v1/doc/', 'api-doc', _('API Documentation'), 'fa fa-fw fa-book'),
]%}

{% elif current_user.has_role("Cashier") %}

{%- set navigation = [('/', 'dashboard', _('Dashboard'), 'fa fa-fw fa-dashboard')] %}

{% endif %}

{%- set active_page = active_page|default('dashboard') -%}

{%- for href, id, title, icon in navigation %}
<li id="list-{{ id }}" {%- if id==active_page %} class="active" {%- endif %}>
  <a href="{{ href|e }}"><i class="{{ icon }}"></i> {{ title|e }}</a>
</li>
{%- endfor %}