{% extends 'bootstrap/base.html' %}
{% import "bootstrap/google.html" as google %}
{% import "bootstrap/fixes.html" as fixes %}

<!-- head block -->
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
<!-- end head block -->

<!-- title block -->
{% block title %}
{{ title ~' - '~ app_name }}
{% endblock %}
<!-- end title block -->

<!-- meta block -->
{% block metas %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="none, noarchive, nocache">
<meta name="title" content="{{ app_meta_title }}" />
<meta name="description" content="{{ app_meta_description }}" />
<meta name="keywords" content="{{ app_meta_keyword }}">
{% endblock %}
<!-- end meta block -->

<!-- start block style -->
{% block styles %}
{{super()}}
<link rel="icon" type="image/png" href="{{ app_favicon }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}">
<!-- DataTables -->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.21/css/dataTables.bootstrap.min.css') }}" />
<!--
  <link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.21/css/jquery.dataTables.min.css') }}" /> -->
<!-- <link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/css/buttons.bootstrap.min.css') }}" /> -->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/css/buttons.dataTables.min.css') }}" />
{% endblock %}
<!-- end block style -->

<!-- start block body -->
{% block body %}
<div id="wrapper">
  <!-- start block navbar -->
  {% block navbar %}
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('mod_dashboard.index') }}">
        {{ app_name }}
      </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-top-links navbar-right">
      <li class="">
        <a href="{{ url_for('mod_pos.index') }}"><b><i class="fa fa-money"></i> POS</b></a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user"></i> {{ current_user.user_username }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="{{ url_for('mod_user.personal_profile') }}"><i class="fa fa-fw fa-user"></i>
              {{ _('Profil') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for_security('change_password') }}"><i class="fa fa-fw fa-key"></i>
              {{ _('Change Password') }}
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{{ url_for_security('logout') }}"><i class="fa fa-fw fa-power-off"></i>
              {{ _('Logout') }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          {% include 'back_office_components/_sidebar.html' %}
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  {% endblock %}
  <!-- end block navbar -->

  <!-- start block content -->
  {% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            {{ title }}
          </h1>
          <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li>
              <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <!-- Flash Notification -->
      <div class="row">
        <div class="col-lg-12">
          {% include 'back_office_components/_alert.html' %}
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col-lg-12">
          {%- block app_content %}{%- endblock %}
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col-lg-12">
          <p class="text-muted">
            {{ app_name }} © 2021
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- end block content -->
</div>

<!-- start block script -->
{% block scripts %}
{{ super() }}
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}" type="text/javascript"></script>
<!-- DataTables -->
<script src="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.21/js/jquery.dataTables.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.21/js/dataTables.bootstrap.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/js/dataTables.buttons.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/js/buttons.bootstrap.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript">
</script>
<script src="{{ url_for('static', filename='vendor/DataTables/pdfmake-0.1.36/pdfmake.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript">
</script>
<script src="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/js/buttons.html5.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/js/buttons.print.min.js') }}"
  type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/Buttons-1.6.2/js/buttons.colVis.min.js') }}"
  type="text/javascript"></script>

{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{{ moment.lang(g.locale) }}
{{ google.uanalytics(app_google_analytics) }}
{% endblock %}
<!-- end block script -->

{% endblock %}
<!-- end block body -->