.sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }