{% extends 'back_office_components/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{%- set active_page = 'user' %}

{% block app_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ title | title }}</h3>
  </div>
  <div class="panel-body">
    {% if user %}
    <div class="row">
      <div class="col-md-2">
        <img src="{{ current_user.avatar(128) }}">
      </div>
      <div class="col-md-10">
        <h3>{{ user.title }} {{ user.first_name }} {{ user.last_name }}</h3>
        <p>{{ user.username }} | {{ user.email }}</p>
        <small>{{ _('Last Seen') }} : {% if user.last_seen %}
          {{ moment(user.last_seen, local=True).fromNow()}}
          {% endif %}</small>
      </div>
    </div>
    <hr>
    {% endif %}
    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.title) }}
      {{ wtf.form_field(form.first_name) }}
      {{ wtf.form_field(form.last_name) }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.gender) }}
      {{ wtf.form_field(form.bornday) }}
      {{ wtf.form_field(form.contact) }}
      {{ wtf.form_field(form.id_card) }}
      {{ wtf.form_field(form.address) }}
      {{ wtf.form_field(form.about_me) }}
      {{ wtf.form_field(form.account_name) }}
      {{ wtf.form_field(form.account_number) }}
      {{ wtf.form_field(form.bank_name) }}
      {{ wtf.form_field(form.branch) }}
      {{ wtf.form_field(form.tax_id) }}
      {{ wtf.form_field(form.role, class="checkbox") }}
      {% if not edit %}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.password2) }}
      {% endif %}
      {{ wtf.form_field(form.submit) }}
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}