{% extends 'auth_components/base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {%
block app_content %}
<div class="row">
  <div class="col-md-12">
    {{ wtf.quick_form(form) }}
  </div>
</div>
<br />
<p>{{ _('Login ?') }} <a href="{{ url_for('.login') }}">{{ _('Click Here!') }}</a></p>
{% endblock %}