{% extends 'bootstrap/base.html' %}
{% import "bootstrap/google.html" as google %}
{% import "bootstrap/fixes.html" as fixes %}

<!-- head block -->
{% block head %}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}
<!-- end head block -->


<!-- title block -->
{% block title %}
{% if title %}
{{ _(title) }} - {% if g.get('app_name') %}{{ g.get('app_name') | title }}{% elif config['APP_NAME'] %}{{ config['APP_NAME'] }}{% else %}Flask Base{% endif %}
{% else %}
{{ _('Welcome to') }} Flask Base
{% endif %}
{% endblock %}
<!-- end title block -->

<!-- meta block -->
{% block metas %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="none, noarchive, nocache">
<meta name="title" content="{% if g.get('app_meta_title') %}{{ g.get('app_meta_title') }}{% endif %}">
<meta name="description" content="{% if g.get('app_meta_desc') %}{{ g.get('app_meta_desc') }}{% endif %}">
<meta name="keywords" content="{% if g.get('app_meta_keyw') %}{{ g.get('app_meta_keyw') }}{% endif %}">
{% endblock %}
<!-- end meta block -->

<!-- start block style -->
{% block styles %}
{{super()}}
<link rel="apple-touch-icon" sizes="180x180"
  href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32"
  href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
  href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}">
<style>
  body {
    margin-top: 75px;
  }
</style>
{% endblock %}
<!-- end block style -->

<!-- start block content -->
{% block content %}
<div class="container">
  <div class="form-signin">
    <div class="well">
      {% include 'auth_components/_alert.html' %}
      <h3 class="text-center">{{ title | title }}</h3>
      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    </div>
    <footer class="text-center">
      <p class="text-muted">{% if g.get('app_name') %}{{ g.get('app_name') | title }}{% elif config['APP_NAME'] %}{{ config['APP_NAME'] }}{% else %}Flask Base{% endif %} © 2020 -
        v0.1
        ({% if config['ENV'] == 'development'%}development{% elif config['ENV'] == 'production'%}production{%else%}not
        configure{%endif%})</p>
    </footer>
  </div>
</div>
{% endblock %}
<!-- end block content -->

<!-- start block script -->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% if g.get('app_google_analytics') %}
{{ google.uanalytics(g.get('app_google_analytics')) }}
{% endif %}
{% endblock %}
<!-- end block script -->